/* GLOBAL */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #020617;
    color: #e2e8f0;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    position: fixed;
    background: rgba(2, 6, 23, 0.8);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* keeps it above everything */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #e2e8f0;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle at top, #0ea5e9, #020617 70%);
    margin-top: 70px; /* adjust if needed */
}

.hero-content h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.hero-content h2 {
    font-size: 38px;
    margin-bottom: 8px;
}

.hero-content h3 {
    color: #38bdf8;
    margin-bottom: 15px;
}

.hero-content p {
    color: #94a3b8;
    margin-bottom: 25px;
}

/* BUTTON */
.btn {
    padding: 20px 30px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.5);
    margin-top: 30px;
}

.btn:hover {
    background: #0ea5e9;
    box-shadow: 0 0 25px rgba(56, 189, 248, 0.8);
}

/* SECTIONS */
section {
    padding: 80px 10%;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* ABOUT */
.about {
    text-align: center;
}

/* SERVICES */
.service-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #284c67;
    background: linear-gradient(135deg, rgba(56, 189, 248, 0.1), rgba(14, 165, 233, 0.05));
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 25px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    border-color: #38bdf8;
}

/* CONTACT */
.contact {
    text-align: center;
}

/* PROJECTS */
.projects {
    text-align: center;
}

.project-intro {
    color: #94a3b8;
    margin-bottom: 30px;
}

.project-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: #020617;
     background: linear-gradient(135deg, rgba(56, 189, 248, 0.1), rgba(14, 165, 233, 0.05));
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 25px;
    border-radius: 15px;
    width: 260px;
    text-align: center;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    border-color: #38bdf8;
}

.project-link {
    display: inline-block;
    margin-top: 15px;
    color: #38bdf8;
    text-decoration: none;
    font-size: 14px;
}

.project-link:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #64748b;
}
